div.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(102,184,215);
  background: linear-gradient(90deg, rgba(102,184,215,1) 30%, rgba(193,162,226,1) 65%);
}

div.logoname{
  text-align: center;
}

img.logo{
  width: 70%;
}

h1.name{
  color: white;
  font-family: "GalanoGrotesqueBold";
  margin: 0;
  padding: 0;
}

a {
  color: rgb(102, 184, 215) !important;
  font-family: "GalanoGrotesqueBold";
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgba(193,162,226,1) !important;
}

.forms{
justify-content: center;
    align-items: center;
    display: flex;
}

.changeform{
  position: absolute;
  bottom: 5%;
  
}