.rightPanel {
  padding: 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-input,
.login-form {
  width: 95%;
  padding-top: 10%;
}

.infoTitle {
  width: 95%;
}

.form-group {
  padding-bottom: 20px;
}

label {
  color: #b8b6b6;
}

input {
  height: 55px;
}

button[type="submit"] {
  padding: 10px 20px;
  background: rgb(102, 184, 215);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  height: 3.4375rem;
  font-family: "GalanoGrotesqueBold";
}

button[type="submit"]:hover {
  background: rgba(193,162,226,1);
}

h1 {
  font-family: "GalanoGrotesqueBold";
  font-size: 3em;
  padding-bottom: 5%;
}

p {
  color: #b8b6b6;
}

.link {
  color: rgb(102, 184, 215) !important;
  font-family: "GalanoGrotesqueBold";
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: rgba(193,162,226,1) !important;
}

a {
  color: rgb(102, 184, 215) !important;
  font-family: "GalanoGrotesqueBold";
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgba(193,162,226,1) !important;
}

.forms{
justify-content: center;
    align-items: center;
    display: flex;
}

.newuser{
  text-align: center;
}